<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in</p>
<h3>Users:</h3>
<p><a routerLink="/newuser" class="btn btn-link">Create New User</a> </p>
<table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead>
        <th class="text-center"><i class="icon-people"></i></th>
        <th>User Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
    </thead>
    <tr *ngFor="let user of users">
        <div class="avatar">
            <img src="/src/assets/img/avatars/4.jpg" class="img-avatar" alt="user">
            <span class="avatar-status badge-success"></span>
        </div>
        <td> {{user.username}}</td>
        <td> {{user.firstName}}</td>
        <td> {{user.lastName}} </td>
        <td> <a (click)="deleteUser(user.id)" class="text-danger">Delete</a></td>
    </tr>
</table>